
.input-page {
    margin: 10px;
}

.app-header {
  background-color: #337ab7;
  height: 150px;
  padding: 20px;
  color: white;
}

.input-page .intro-text {
    font-size: large;
    margin-bottom: 10px;
}

.input-page .tall {
    min-height: 414px;
}

.input-page .tall-panel {
    min-height: 486px;
}

.input-page .header-text {
    font-size: 24px;
    font-weight: bold;
}

.input-page .subheader-text {
    font-weight: bold;
}

.input-page .advance-button {
    float: right;
    margin-right: 20px;
}

.input-page .vertical-margin {
    margin-top: 10px;
}

.input-page .larger-font {
    font-size: 16px;
}

.input-page .small-thumbnail {
  margin-left: 20px;
  width: 50px;
  height: 50px;
}

.react-datepicker {
  font-size: 1.3rem !important;
}

.react-datepicker__current-month {
  font-size: 1.5rem !important;
}

.react-datepicker__header {
  padding-top: 6px !important;
}

.react-datepicker__navigation {
  top: 13px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
  margin: 0.5rem !important;
}